<form action="/result" method="post">
    <label>Name</label>
    <input type="text" id="name" name="name">
    <label >Age</label>
    <input type="number" id="age" name="age">
    <input type="submit" value="Submit Query">
</form>
