<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Please login</title>
        <meta charset="utf-8" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <h1>Enter a name to login:</h1>
        <form action="/login" method="post">
            <input name="name"/>
            <input type="submit"/>
        </form>
    </body>
</html>
