<span>Is this your number <strong><%= num %></strong></span>
<a href="/random">No</a> <br>
<span><b><%= list.length %> </b> numbers guessed already</span>
<ul>
    <%for(const n of list) { %>
    <li><%= n %></li>
    <%}%>
</ul>
