body{
    background-color: #b9f8cf;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 > b{
    color: #1c98c9;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* pseudo-element example */
h3::first-letter{
    text-transform: capitalize;
    font-size: 1.5em;
}