<!DOCTYPE html>
<html lang='en'>
 <head>
 <meta charset="utf-8">
 <link rel="stylesheet" href="/css/<%= style %>.css">
 <title>Current time</title>
 </head>
 <body>
 This page was loaded at <%= time %>
 </body>
</html>
