<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <title>Form</title>
</head>
<body>
    <h3>Form</h3>
    <input id="input1" name="input1">
    <button id="btn1">Ask 8ball</button>
</body>
</html>
