form{
    display: grid;
    line-height: 30pt;
}

input[type="text"], input[type="password"]  {
    height: 20pt;
}

input[type="submit"] {
    height: 30pt;
    color: white;
    background-color: rgb(20, 128, 229);
    width: 70pt;
    border-width: 0pt;
    border-radius: 3pt;
}
